
  <div class = "containerquestion">
   <p><%= params[:answer] %></p>
    <p> - You </p>
  </div>
  <div class = "containerreponse">
    <p><strong><%= @coach %></strong></p>
    <p>- Your Coach </p>
  </div>
    <h6> <%= link_to 'Ask an other question', 'ask' %></h6>
