
<h2>Ask your coach anything</h2>
<form action="/answer" data-turbo="false" class="form-label"  >
  <input type="text" name="answer" placeholder="What is your question?" class="questioninput">
  <input type="submit" value="Ask!" >
</form>
